APP_ENV=dev
APP_DEBUG=1
APP_SECRET=ChangeMe
APP_SHARE_DIR=var/share

DEFAULT_URI=http://localhost:18000
DATABASE_URL="mysql://app:app@mariadb:3306/app?serverVersion=10.11.16-MariaDB&charset=utf8mb4"
REDIS_DSN="redis://redis:6379"
ACCESS_TOKEN_TTL="P7D"
CORS_ALLOW_ORIGIN=http://localhost:15173
