@use '@/styles/_variables' as *;

.Label {
  display: inline-flex;
  align-items: center;
  color: $color-text-primary;
  font-size: $font-size-sm;
  font-weight: 600;
  line-height: $line-height-base;
}
